<h2> ALL TASKS INDEX </h2>
<br>
<table>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= button_to task.name, task_path(task), method: 'get' %></td>
      <td><%= button_to 'Edit', edit_task_path(task), method: 'get'%></td>
      <td><%= button_to 'Remove', task_path(task), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<br>
<%= button_to "Add a New Task", new_task_path, method: 'get' %>
<%= button_to "View All Projects", projects_path, method: 'get' %>
