<h4>NAME: <%= @task.name %></h4>
<h4>STATUS: <%= @task.status %></h4>
<h4>PROJECT TITLE: <%= @task.project.title %></h4>

<%= button_to "All Tasks", tasks_path, method: :get %>
<%= button_to "Edit Task", edit_task_path(@task), method: :get %>
<%= button_to 'Remove Task', task_path(@task), method: 'delete', data: { confirm: 'Are you sure?' } %>
