<h2>PROJECT TITLE: <%= @project.title %></h2>
<h4>DESCRIPTION: "<%= @project.description %>"</h4>

<%= button_to "All Projects", projects_path, method: :get %>
<%= button_to "Edit Project", edit_project_path(@project), method: :get %>
<%= button_to 'Remove Project', project_path(@project), method: 'delete', data: { confirm: 'Are you sure?' } %>
